/* Elementos eliminados */
#banner-suscripcion,
#comentarios,
#comments,
#conteo_notas_paywall,
#footer,
#header .masthead,
#header .onsite-bar,
#heading #pageToolbar,
#LNA_background,
#LNA_contenidoTotal,
#LNA_paywall_modal,
#LNA_paywall_modal,
#nacion-login-bar,
#nav-top,
#navbar-web-header,
#pageTools,
#paywall-cookie,
#paywall-notification,
*[id*="ad-clicker-"],
*[id*="banner"],
*[id*="creative_"],
*[id*="eplAdDiv"],
*[id*="ns_ad"],
.body-nws .show-comments,
.boxleft.suscribase.sus-fx-box,
.cp-tools.md.clr,
.gn_footer,
.gna-corp-onsite-bar,
.LNA_background_paywall,
.md-adn_radio,
.md-breakingnews-wrapper,
.md-columnist .info .sub-area,
.md-columnist .info .summary,
.md-columnist ul,
.md-fxrate .source,
.md-wgt-twitter,
.nwscontainer .body-nws .md-columnist .mg-20,
.ob_org_header,
.ob_what,
.onsite-bar,
.pg-aux #pageTools,
.pg-bkn-trail-id,
.rg-ad,
.show-new,
.social-links,
body .kalooga_grid
{ display: none!important; }

/* Arreglando la letra */
.AR_1 .strip-rec-link-title,
.cp-relations .rel-entry .rel,
.cp-relations .rel-entry,
.cp-reltags .tag,
.dateline,
.footnote,
.lst-relinfo,.nws .brief,
.main-search .search-field,
.mce-body .mce,
.mce-body b.mce .mce,
.mce-body b.mce,
.mce-body em.mce .mce,
.mce-body em.mce,
.mce-body i.mce .mce,
.mce-body i.mce,
.mce-body p.mce,
.mce-body strong.mce .mce,
.mce-body strong.mce,
.md .read-more .lnk,
.md-block-special .slice-brief,
.md-block-special .slice-caption,
.md-blogs .lst,.nws .kicker,
.md-columnist-content-author,
.md-columnist-content-title,
.md-editorial .bd,
.md-editorial .brief,
.md-item-eco-currency-rates .item,
.md-news-latest .lst,
.md-news-today .headline,
.md-news-topic .brief .lnk .dest,
.md-news-topic .lst .lnk,
.md-print-edition .lst,
.md-scr-news .hed .kicker,
.md-scr-news .hed,
.md-topmost .lst .lnk,
.nws .headline,
.ob_org_header,
.pane-jigsaw .mtx .hed,
.pane-jigsaw .mtx .kicker,
.pg-story .pg-bkn-dateline,
.pg-story .pg-bkn-headline,
.pg-story .pg-bkn-nutfold li,
.pg-story .pg-bkn-nutfold p,
.showlist-item .hed,
.sk-md1 .hd .title
{
    font-family: sans-serif!important; font-weight: 400!important;
}

.mce-body em.mce .mce,
.mce-body em.mce,
.mce-body i.mce .mc,
.mce-body i.mce
{
    font-style: italic;
}

.footnote
{
    color: #999;
    border: none;
    font-size: 14px;
}

.mce-body b.mce .mce,
.mce-body b.mce,
.mce-body strong.mce .mce,
.mce-body strong.mce
{
    font-weight:600!important;
}

.mce-body a.mce
{
    font-weight: bold!important;
}

.AR_1.ob_strip_container
{
    border: none!important;
}

.md-news-latest .lst
{
    height: 465px!important;
}

#md-news-latest .bd {
    height: 300px!important;
}

.cp-reltags .tag
{
    padding: 5px;
}

.pg-story .pg-head
{
    border: none;
    padding-top: 0;
}

body #main
{
    margin-top:0!important;
}

.md-news-topic,
.md-news-topic.border-bottom
{
    border-width: 1px;
}

#heading .g-faux
{
    background: none!important;
    padding-left: 0!important;
}

#header.rg-header
{
    border: none!important;
    margin-top: 5px!important;
    position: relative;
    z-index: 999999;
}

#header .nav-bar
{
    position: fixed!important;
}

#main
{
    margin-top: 55px!important;
}
